## [Start] Setting "disabled" to default value of "0". **
$util.qr($context.args.input.put("disabled", $util.defaultIfNull($ctx.args.input.disabled, 0)))
## [End] Setting "disabled" to default value of "0". **
{}